{
  "lines": 70,
  "statements": 70,
  "functions": 70,
  "branches": 70,
  "timeout": 20000,
  "include": [
    "api/**"
  ],
  "extension": [
    ".js",
    ".ts"
  ],
  "exclude": [
    "config/**",
    "test/**/*.spec.*"
  ],
  "reporter": [
    "lcov",
    "text-summary",
    "text",
    "html"
  ],
  "report-dir": "./coverage",
  "temp-directory": "./.nyc_output",
  "clean": true,
  "cache": false,
  "check-coverage": true,
  "all": false,
  "sourceMap": false,
  "instrument": true
}
