doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title MyApp

    // Viewport mobile tag for sensible mobile support
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    // Prevent browser cache
    meta(http-equiv='Cache-Control', content='no-store, no-cache, must-revalidate')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Expires', content='-1')

    include ../partials/_styles.pug
    include ../partials/_scripts.pug

  body
    div#content
      include ../partials/header.pug
      block body
      include ../partials/footer.pug
